
.contact-section {
    margin-top:90px;
    padding: 10px;
}
.contact-container {
    background-color: rgb(19, 26, 23) !important;
    /* height: 500px; */
    /* margin-top: 115px; */
    border-radius: 25px;
    /* margin-bottom:115px; */
    padding: 10px;
}
.contact-title-row {
    padding: 10px;
}
.title-paragraph {
    color: #fff;
}
/* .title-paragraph > strong {
    color: greenyellow;
} */
.contact-form-row {
    padding: 10px;
}
.form {
    box-shadow: 0px 5px 35px rgb(111, 103, 223);
    border-radius: 25px;
    padding: 15px;
}
.img-form {
    overflow: hidden;
}
.img-email-contact:hover {
   transform: scale(1.25);
    
}
.form-label {
    color: white;
}

/*

.title-paragraph {
    margin-top: 20px;
    color: white !important;
    font-family: "Poppins Bold";
    letter-spacing: .2rem !important;
}
.contact-form-row {
    height: 404px;
}
.img-email-contact {
    vertical-align: middle;
    padding: 50px;
}
.form-contact {
    margin-bottom: 150px;
}
.form {
    color: white;
    display: flex;
    padding: 15px;
    justify-content: center;
    flex-direction: column;
    opacity: .9;
    box-shadow: 0 0 20px -2px #1f2235;
    border-radius: 12px;
} */

@media (max-width: 767px) {
    .contact-container {
        margin-bottom: 150px;
    }
    /* .img-email-contact {
        margin-top: 0;
    } */
    .form-contact {
        margin-top: 20px !important;
    }
}